* {
    box-sizing: border-box;
}


body {
    background-image: url("../images/starbackround.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
   
}

#img
{
 background-color: red;


}