* {
    box-sizing: border-box;
}


body {
    background-image: url("../images/starbackround.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
   
}

.imagesize {
 	
	background-color: white;
	width: 200px;
	height: 200px;
	float: 
	border: 0 none;
	height: auto;
	display: inline-block;
	margin-top: 10px;
	
	}
 

 #Characters {
 	overflow: auto;
	width: 200px;
	position: relative;
	padding-left: 25px;

 }

#Characters img {
		width: 150px;
		height: 150px;
		border: 0 none;
}

#Characters h3 {
  position: absolute;
  /*bottom: 20px;*/
  /*width: 100%;*/
  /*padding: 15px;*/
  /*margin-bottom: 0;*/
  /*font-weight: 30px;*/
  /*line-height: 30px;*/
  /*color: #fff;*/
  /*text-align: center;*/
  /*background: #4aaaa5;*/
  border-bottom: 0;